/* CartPage.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0eeee;
  }
  
  header {
    background-color: #be005f;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  main#cart-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  main h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #c2b3b3;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  li img {
    border-radius: 5px;
  }
  
  li span {
    margin-right: 15px;
    font-size: 1rem;
  }
  
  li div {
    display: flex;
    align-items: center;
  }
  
  li div button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1rem;
    background-color: #65052d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li div button:hover {
    background-color: #c4cbd2;
  }
  
  #total-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #079135;
    margin-top: 20px;
    text-align: right;
  }
  
  button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button#checkout {
    background-color: #28a745;
    color: white;
    float: right;
    margin-top: 20px;
  }
  
  button#checkout:hover {
    background-color: #218838;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  footer {
    clear: both;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 40px;
  }
  
  footer button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
  }
  
  footer button:hover {
    background-color: #c82333;
  }
  
  a {
    color: #0073e6;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  